<section class="container row my-md-2 mx-auto" id="show-by-tag">

  <div class="col-md-8 col-12 mx-0" id="items-grid">

    <div class="row">
      {{#each matchedItems}}
      <div class="col-lg-4 col-sm-6 col-12 p-1">
        <div class="card">
          <a href="/items/{{this.itemId}}" style="color: inherit">
            <img src="/{{this.itemPic}}" class="card-img-top" alt="item-pic">
          </a>
          <div class="card-body p-2">
            <a href="/items/{{this.itemId}}" style="color: inherit">
              <h6 class="card-title my-1">{{this.itemName}}</h6>
            </a>
            <p class="card-text my-1">{{this.itemPrice}} <span class="badge badge-pill badge-dark">MBCoin</span></p>
            <button class="btn btn-dark btn-sm border-light col" id="{{this.itemId}}|{{this.ownerId}}"
              onclick="addToCart(this.id)">Add
              to
              Cart</button>

          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>

  {{> sideBar}}

</section>