<section class="container row my-md-2 mx-auto" id="item-detail">

  <div class="col-md-8 col-12 mx-0">
    <div class="jumbotron">
      <div class="row">

        <div class="col-md-5">
          <div class="card">
            <img src="/{{item.image}}" class="card-img-top" alt="item-pic">
            <div class="card-body p-2 d-flex justify-content-between">
              <p class="card-text my-1 d-inline">{{item.price}} <span class="badge badge-pill badge-dark">MBCoin</span>
              </p>
              <p class="card-text my-1 d-inline"><span class="badge badge-dark">{{item.tag}}</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <h1>{{item.itemName}}</h1>
          <p class="lead">{{item.description}}</p>
          <hr class="item-detail">
          <p id="{{item.ownerId}}">Owner: {{item.ownerName}}</p>
        </div>

      </div>

      <p class="lead">
        <button class="btn btn-dark btn-sm border-light col" id="{{item.itemId}}|{{item._id}}"
          onclick="addToCart(this.id)">Add
          to
          Cart</button>
      </p>
    </div>
  </div>

  <div class="col-md-4 mx-0 pt-1">
    {{#if userInfo}}
    <div class="card pt-3 px-3 col-10 mx-auto" id="user-info">

      <div class="card-body p-2 mt-2">
        <a href="/users/{{userInfo.userId}}" style="color: inherit">
          <h5 class="card-title mb-2">{{userInfo.userName}}</h5>
        </a>
        <p class="card-text mb-2">Asset: {{userInfo.userAsset}} <span class="badge badge-pill badge-dark">MBCoin</span>
        </p>
      </div>
    </div>
    {{/if}}

    <a class="btn btn-dark text-light col-10 d-flex mx-auto mt-2 justify-content-center" href="/cart">
      Check Out&nbsp;&nbsp;
      <span class="icon-class">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge badge-light" id="items-in-cart">
          {{#if itemInCart}}
          {{itemInCart}}
          {{else}}
          0
          {{/if}}
        </span>
      </span>
    </a>
    {{!-- <div class="row col-11 mx-auto"> --}}
    <div class="row">
      <div class="card col-6 border-0 mt-2" id="tag-lol">
        <img class="card-img-top bg-light" alt="tag-lol" src="/public/img/tag-lol.png">
        <a href="/items/tag/lol" class="stretched-link"></a>
      </div>

      <div class="card col-6 border-0 mt-2" id="tag-dota2">
        <img class="card-img-top bg-light" alt="tag-dota2" src="/public/img/tag-dota2.png">
        <a href="/items/tag/dota2" class="stretched-link"></a>
      </div>
    </div>
    {{!-- </div> --}}

  </div>
</section>