<section id="user-dash-board">
  <div class="container">
    <div class="row">

      <div class="col-sm-7">
        <div class="row">
          <h2 class="btn btn-outline-dark btn-lg btn-block mx-1">Things Your Are Selling</h2>
          <div class="col-lg-4 col-sm-6 col-12 p-1">
            <div class="card">
              <a href="/items/item-id" style="color: inherit">
                <img src="https://via.placeholder.com/300x300.png?text=Item+Picture" class="card-img-top"
                  alt="item-pic">
              </a>
              <div class="card-body p-2">
                <a href="/items/item-id" style="color: inherit">
                  <h6 class="card-title my-1">Item Name</h6>
                </a>
                <p class="card-text my-1">Item Price</p>
                <a href="#" class="btn btn-dark btn-sm border-light col">Add to Cart</a>
                <a href="#" class="btn btn-dark btn-sm border-light col">Buy it now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 p-1">
            <div class="card">
              <a href="/items/item-id" style="color: inherit">
                <img src="https://via.placeholder.com/300x300.png?text=Item+Picture" class="card-img-top"
                  alt="item-pic">
              </a>
              <div class="card-body p-2">
                <a href="/items/item-id" style="color: inherit">
                  <h6 class="card-title my-1">Item Name</h6>
                </a>
                <p class="card-text my-1">Item Price</p>
                <a href="#" class="btn btn-dark btn-sm border-light col">Add to Cart</a>
                <a href="#" class="btn btn-dark btn-sm border-light col">Buy it now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 p-1">
            <div class="card">
              <a href="/items/item-id" style="color: inherit">
                <img src="https://via.placeholder.com/300x300.png?text=Item+Picture" class="card-img-top"
                  alt="item-pic">
              </a>
              <div class="card-body p-2">
                <a href="/items/item-id" style="color: inherit">
                  <h6 class="card-title my-1">Item Name</h6>
                </a>
                <p class="card-text my-1">Item Price</p>
                <a href="#" class="btn btn-dark btn-sm border-light col">Add to Cart</a>
                <a href="#" class="btn btn-dark btn-sm border-light col">Buy it now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 p-1">
            <div class="card">
              <a href="/items/item-id" style="color: inherit">
                <img src="https://via.placeholder.com/300x300.png?text=Item+Picture" class="card-img-top"
                  alt="item-pic">
              </a>
              <div class="card-body p-2">
                <a href="/items/item-id" style="color: inherit">
                  <h6 class="card-title my-1">Item Name</h6>
                </a>
                <p class="card-text my-1">Item Price</p>
                <a href="#" class="btn btn-dark btn-sm border-light col">Add to Cart</a>
                <a href="#" class="btn btn-dark btn-sm border-light col">Buy it now</a>
              </div>
            </div>
          </div>

        </div>
        <hr>
        <div class="row">
          <h2 class="btn btn-outline-dark btn-lg btn-block mx-1">Purchase History</h2>
          <div class="col-lg-4 col-sm-6 col-12 p-1">
            <div class="card">
              <a href="/items/item-id" style="color: inherit">
                <img src="https://via.placeholder.com/300x300.png?text=Item+Picture" class="card-img-top"
                  alt="item-pic">
              </a>
              <div class="card-body p-2">
                <a href="/items/item-id" style="color: inherit">
                  <h6 class="card-title my-1">Item Name</h6>
                </a>
                <p class="card-text my-1">Item Price</p>
                <a href="#" class="btn btn-dark btn-sm border-light col">Add to Cart</a>
                <a href="#" class="btn btn-dark btn-sm border-light col">Buy it now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 p-1">
            <div class="card">
              <a href="/items/item-id" style="color: inherit">
                <img src="https://via.placeholder.com/300x300.png?text=Item+Picture" class="card-img-top"
                  alt="item-pic">
              </a>
              <div class="card-body p-2">
                <a href="/items/item-id" style="color: inherit">
                  <h6 class="card-title my-1">Item Name</h6>
                </a>
                <p class="card-text my-1">Item Price</p>
                <a href="#" class="btn btn-dark btn-sm border-light col">Add to Cart</a>
                <a href="#" class="btn btn-dark btn-sm border-light col">Buy it now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 p-1">
            <div class="card">
              <a href="/items/item-id" style="color: inherit">
                <img src="https://via.placeholder.com/300x300.png?text=Item+Picture" class="card-img-top"
                  alt="item-pic">
              </a>
              <div class="card-body p-2">
                <a href="/items/item-id" style="color: inherit">
                  <h6 class="card-title my-1">Item Name</h6>
                </a>
                <p class="card-text my-1">Item Price</p>
                <a href="#" class="btn btn-dark btn-sm border-light col">Add to Cart</a>
                <a href="#" class="btn btn-dark btn-sm border-light col">Buy it now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-12 p-1">
            <div class="card">
              <a href="/items/item-id" style="color: inherit">
                <img src="https://via.placeholder.com/300x300.png?text=Item+Picture" class="card-img-top"
                  alt="item-pic">
              </a>
              <div class="card-body p-2">
                <a href="/items/item-id" style="color: inherit">
                  <h6 class="card-title my-1">Item Name</h6>
                </a>
                <p class="card-text my-1">Item Price</p>
                <a href="#" class="btn btn-dark btn-sm border-light col">Add to Cart</a>
                <a href="#" class="btn btn-dark btn-sm border-light col">Buy it now</a>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="col-sm-5">
        {{#if isLoggedIn}}
        <div class="card pt-3 px-3 col-10 mx-auto" id="user-info">
          <a href="/users/{{userInfo.userId}}">
            <img class="card-img-top rounded rounded-circle " alt="unser-pic" src="{{userInfo.userPic}}">
          </a>
          <div class="card-body p-2 mt-2">
            <a href="/users/{{userInfo.userId}}" style="color: inherit">
              <h5 class="card-title mb-2">{{userInfo.userName}}</h5>
            </a>
            <p class="card-text mb-2">Asset: {{userInfo.userAsset}} <span
                class="badge badge-pill badge-dark">MBCoin</span>
            </p>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>